@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Ubuntu+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;

  background: #3e3e3e;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

h2 {
  font-size: 30px;
}

.sudoku-box {
  display: flex;
  flex-direction: column;
  gap: 10px;

  text-align: center;
}

.sudoku-box-row {
  display: flex;
  gap: 10px;
}

.block-green {
  width: 78px;
  height: 78px;
  padding: 27px;
  border-radius: 5px;
  background: #9cffc9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.block-red {
  width: 78px;
  height: 78px;
  border-radius: 5px;
  background: #ffb59c;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button {
  border: none;
  padding: 15px 50px;
  border-radius: 40px;
  background: #9cffc9;
  font-size: 19px;

  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 35%;
}

.head h4 {
  font-size: 20px;
  color: #9cffc9;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
}

.time .clock {
  width: 25px;
}

.back-button img {
  width: 28px;
}

.back-button {
  cursor: pointer;
  transition: 0.2s;
}

.back-button:hover {
  transform: translateX(-5px);
}

.sudoku-grid {
  text-align: center;
}


table {
  border-collapse: collapse;
  margin: 0 auto;
  
}

table td {
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  border: 1px solid #000;
}

input {
  font-family: 'Ubuntu Mono', monospace;

  border: none;
  text-align: center;
  font-size: 23px;
  padding: 18px;
  margin: 2px;
  border-radius: 7px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  transition: .3s;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

input:focus {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  outline-width: 0px;
  background-color: #d0fce3;
}
