@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Ubuntu+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;

  background: #3e3e3e;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

h2 {
  font-size: 50px;
  color: #1b1b1b;
}

.sudoku-box {
  display: flex;
  flex-direction: column;
  gap: 10px;

  text-align: center;
}

.sudoku-box-row {
  display: flex;
  gap: 10px;
}

.block-green {
  width: 98px;
  height: 98px;
  padding: 27px;
  border-radius: 5px;
  background: #9cffc9;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.block-red {
  width: 98px;
  height: 98px;
  border-radius: 5px;
  background: #ffb59c;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.buttons-box {
  display: flex;
  gap: 10px;
  text-align: center;
}

.buttons-box button {
  background: none;
  border: none;
  font-size: 19px;
  font-weight: 400;
  color: #ffff;
  letter-spacing: 1px;
  cursor: pointer;
}

.buttons-box a {
  padding: 15px;
  width: 100px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  transition: .2s;
  background-color: rgba(255, 255, 255, .2);
}

.buttons-box a:hover {
  transform: scale(1.05);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.main-button {
  border: none;
  padding: 15px 50px;
  border-radius: 40px;
  background: #9cffc9;
  font-size: 19px;
  justify-self: center;

  cursor: pointer;
  transition: 0.2s;
}

.main-button:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.head h4 {
  font-size: 20px;
  color: #9cffc9;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
}

.time .clock {
  width: 25px;
}

.back-button img {
  width: 28px;
}

.back-button {
  cursor: pointer;
  transition: 0.2s;
}

.back-button:hover {
  transform: translateX(-5px);
}

.sudoku-grid {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

table td {
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  border: 1px solid #000;
}

input {
  font-family: "Ubuntu Mono", monospace;
  border: none;
  text-align: center;
  margin: 0.5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  transition: 0.3s;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

input:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  outline-width: 0px;
  background-color: #d6fae6;
}

.bottom-box {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sucess-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ffff;
  background-color: rgb(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 15px;
  gap: 5px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sucess-box button {
  background: none;
  border: none;

  transition: 0.3s;
  cursor: pointer;
}

.sucess-box button:hover {
  transform: rotateZ(-140deg);
}

.celula-alterada {
  background-color: #d6fae6;
}

.hide {
  display: none;
}
